:root {
  --main-font: 'Open Sans', sans-serif;
  --second-font: 'Raleway', sans-serif;

  --accent-color: rgb(255, 78, 214);
  --accent-hover: rgb(161, 25, 129);
  --pretitle-color: #b4b4b4;
  --pretitle-color-light: #cfcfcf;
  --pretitle-color-dark: #969696;
  --title-white: #fff;
  --title-black: #303030;
}
