<section class="section about" id="about">
  <div class="container about__container">
    <div class="beforetitle-wrapper">
      <svg width="20px" height="20px">
        <use href="./images/svg/svg-sprite.svg#icon-eye2"></use>
      </svg>
      <p class="beforetitle about__beforetitle">Про нас</p>
    </div>
    <div class="about__card">
      <div class="about__images">
        <picture loading="lazy" class="about__image">
          <source
            srcset="./images/desktop-about-min.jpg"
            media="(min-width: 1000px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/tablet-about-min.jpg"
            media="(min-width: 768px)"
            type="image/jpeg"
          />

          <img
            loading="lazy"
            class="about__image"
            src="./images/tablet-about-min.jpg"
            alt="Сайт Технокряк"
          />
        </picture>
        <picture loading="lazy" class="about__image">
          <source
            srcset="./images/desktop-about2-min.jpg"
            media="(min-width: 1000px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/tablet-about2-min.jpg"
            media="(min-width: 768px)"
            type="image/jpeg"
          />

          <img
            loading="lazy"
            class="about__image"
            src="./images/tablet-about2-min.jpg"
            alt="нарощення вій"
          />
        </picture>
      </div>
      <div class="about__wrpr">
        <div class="about__text">
          <h2 class="title title--black about__title">Краса поруч з тобою</h2>
          <p class="aftertitle about__aftertitle">
            Якщо ти хочеш додати своєму образу виразності - це те, що ти шукала.
            Я працюю на дому в комфортній, розслаблюючій атмосфері. Слідкую за
            трендами, тому на вибір є багато цікавих ефектів та вигинів. Варто
            лише раз спробувати і ти закохаєшся в свій новий погляд назавжди.
          </p>
        </div>
        <div>
          <button
            class="main-btn main-btn--black about__btn"
            type="button"
            data-modal-open
          >
            Онлайн-запис
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
