<section class="section about">
  <div class="container about__container">
    <div class="beforetitle-wrapper">
      <svg width="20px" height="20px">
        <use href="./images/svg/svg-sprite.svg#icon-eye2"></use>
      </svg>
      <p class="beforetitle about__beforetitle">Про нас</p>
    </div>
    <h2 class="title title--black about__title">Краса поруч з тобою</h2>
    <p class="aftertitle about__aftertitle">
      Якщо ти хочеш додати своєму образу виразності - це те, що ти шукала. Я
      працюю на дому в комфортній, розслаблюючій атмосфері. Слідкую за трендами,
      тому на вибір є багато цікавих ефектів та вигинів. Варто лише раз
      спробувати і ти закохаєшся в свій новий погляд назавжди.
    </p>
    <button class="main-btn main-btn--black" type="button">Онлайн-запис</button>
  </div>
</section>
