<footer class="section contacts" id="footer">
  <div class="container contacts__container">
    <h2 class="title title--white">Контакти</h2>
    <ul class="contacts__list aftertitle">
      <li class="contacts__item">
        <a
          href="https://goo.gl/maps/BCXDrfEUuPvjdDi47"
          target="_blank"
          class="contacts__link"
          ><svg class="contacts__svg" width="20px" height="20px">
            <use href="./images/svg/svg-sprite.svg#icon-map"></use>
          </svg>
          <p>вул.Петра Запорожця 8Б</p>
        </a>
      </li>
      <li class="contacts__item">
        <a href="tel:+380634224269" class="contacts__link"
          ><svg class="contacts__svg" width="20px" height="20px">
            <use href="./images/svg/svg-sprite.svg#icon-phone"></use>
          </svg>
          <p>063 422 42 69</p>
        </a>
      </li>
      <li class="contacts__item">
        <a href="#" target="_blank" class="contacts__link"
          ><svg class="contacts__svg" width="20px" height="20px">
            <use href="./images/svg/svg-sprite.svg#icon-telegram"></use>
          </svg>
          <p>Telegram</p>
        </a>
      </li>
      <li class="contacts__item">
        <a
          href="https://www.instagram.com/lash_laboratoria/"
          target="_blank"
          class="contacts__link"
          ><svg class="contacts__svg" width="20px" height="20px">
            <use href="./images/svg/svg-sprite.svg#icon-instagram"></use>
          </svg>
          <p>Instagram</p>
        </a>
      </li>
    </ul>
  </div>
</footer>
