<section id="gallery" class="section gallery__section">
  <h2 class="visually-hidden">Виконані роботи</h2>
  <div class="container container__gallery">
    <div class="beforetitle-wrapper gallery__beforetitle">
      <svg width="20px" height="20px">
        <use href="./images/svg/svg-sprite.svg#icon-eye3"></use>
      </svg>
      <p class="beforetitle master__beforetitle">Обери свій новий погляд</p>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source
              type="image/webp"
              src="./images/gallery/model13-webp.webp"
            />
            <source type="image/jpeg" src="./images/gallery/model13.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model13.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source type="image/webp" src="./images/gallery/model1-webp.webp" />
            <source type="image/jpeg" src="./images/gallery/model1.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model1.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source type="image/webp" src="./images/gallery/model2-webp.webp" />
            <source type="image/jpeg" src="./images/gallery/model2.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model2.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source type="image/webp" src="./images/gallery/model4-webp.webp" />
            <source type="image/jpeg" src="./images/gallery/model4.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model4.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source type="image/webp" src="./images/gallery/model3-webp.webp" />
            <source type="image/jpeg" src="./images/gallery/model3.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model3.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source type="image/webp" src="./images/gallery/model5-webp.webp" />
            <source type="image/jpeg" src="./images/gallery/model5.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model5.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source
              type="image/webp"
              src="./images/gallery/model10-webp.webp"
            />
            <source type="image/jpeg" src="./images/gallery/model10.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model10.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source type="image/webp" src="./images/gallery/model8-webp.webp" />
            <source type="image/jpeg" src="./images/gallery/model8.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model8.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source type="image/webp" src="./images/gallery/model7-webp.webp" />
            <source type="image/jpeg" src="./images/gallery/model7.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model7.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source type="image/webp" src="./images/gallery/model9-webp.webp" />
            <source type="image/jpeg" src="./images/gallery/model9.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model9.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source type="image/webp" src="./images/gallery/model6-webp.webp" />
            <source type="image/jpeg" src="./images/gallery/model6.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model6.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture class="gallery__image swiper-lazy">
            <source
              type="image/webp"
              src="./images/gallery/model12-webp.webp"
            />
            <source type="image/jpeg" src="./images/gallery/model12.jpg" />
            <img
              loading="lazy"
              src="./images/gallery/model12.jpg"
              alt="model"
              class="gallery__image swiper-lazy"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
