<section class="section gallery__section">
  <div class="container container__section">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/gallery/model13.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/gallery/model1.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model2.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>

        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model4.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model3.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>

        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model5.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model10.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model8.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>

        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model7.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>

        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model9.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model6.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>

        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./images/gallery/model12.jpg"
            alt="model"
            class="gallery__image"
          />
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
