<section class="hero">
  <div class="container hero__container">
    <p class="beforetitle hero__beforetitle" lang="en">Lash laboratoria</p>
    <h2 class="title hero__title">Нарощення вій</h2>
    <h1 class="hero__aftertitle">
      Професійне та якісне нарощення вій в Києві за приємною ціною
    </h1>
    <ul class="hero__socials">
      <li>
        <a
          href="https://www.instagram.com/lash_laboratoria/"
          target="_blank"
          class="hero__link"
        >
          <span class="visually-hidden">інстаграм</span>
          <svg width="30px" height="30px" class="hero__svg">
            <use href="./images/svg/svg-sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
         <a
              href="https://t.me/lash_laboratoria"
              target="_blank"
              class="hero__link"
            >
          <span class="visually-hidden">телеграм</span>
          <svg width="30px" height="30px" class="hero__svg">
            <use href="./images/svg/svg-sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
