<section class="section master" id="master">
  <div class="container master__container">
    <div class="beforetitle-wrapper">
      <svg width="20px" height="20px">
        <use href="./images/svg/svg-sprite.svg#icon-eye4"></use>
      </svg>
      <p class="beforetitle master__beforetitle">
        Стану твоїм улюбленим майстром
      </p>
    </div>

    <div class="master__card">
      <img
        loading="lazy"
        class="master__photo"
        src="./images/mobil-master-min.jpg"
        alt="Коваленко Олена"
      />
      <div class="master__description">
        <div class="master__texts">
          <h2 class="title title--black">Коваленко Олена</h2>
          <p class="master__text aftertitle master__aftertitle">
            Я займаюсь нарощенням вій вже більше року та обожнюю свою справу.
            Прискіпливо ставлюсь до знезараження матеріалів та якості виконання
            роботи. <br />
            Люблю створювати красу і бачити задоволених клієнтів.
          </p>
        </div>
        <ul class="master__socials">
          <li>
            <a
              href="https://www.instagram.com/lash_laboratoria/"
              target="_blank"
              class="master__link"
            >
              <svg width="20px" height="20px" class="master__svg">
                <use href="./images/svg/svg-sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="master__link">
              <svg width="20px" height="20px" class="master__svg">
                <use href="./images/svg/svg-sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="master__link">
              <svg width="20px" height="20px" class="master__svg">
                <use href="./images/svg/svg-sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
