<div class="mobil-container">
  <div class="mobil-menu js-menu-close">
    <div class="mobil-wrapper">
      <a href="./" class="header__logo logo">
        <img width="65px" src="./images/logo.png" alt="logo" />
      </a>
      <button class="close-button mobil-btn" type="button" data-menu-close>
        <svg width="30px" height="30px">
          <use href="./images/svg/svg-sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobil-menu__nav">
      <ul class="mobil-menu__list">
        <li class="mobil-menu__item">
          <a href="#about" class="mobil-menu__link" data-mobil-links>Про нас</a>
        </li>
        <li class="mobil-menu__item">
          <a href="#prices" class="mobil-menu__link" data-mobil-links
            >Послуги та ціни</a
          >
        </li>
        <li class="mobil-menu__item">
          <a href="#master" class="mobil-menu__link" data-mobil-links
            >Майстер</a
          >
        </li>
        <li class="mobil-menu__item">
          <a href="#gallery" class="mobil-menu__link" data-mobil-links
            >Роботи</a
          >
        </li>
        <li class="mobil-menu__item">
          <a href="#footer" class="mobil-menu__link" data-mobil-links
            >Контакти</a
          >
        </li>
      </ul>
    </nav>
    <div class="mobil-menu__contacts">
      <!-- <a href="" class="mobil-menu__phone"></a> -->
      <button class="main-btn" type="button" data-modal-open>
        Онлайн-запис
      </button>
    </div>
    <ul class="mobil-menu__socials aftertitle">
      <li class="contacts__item">
        <a href="tel:+380634224269" class="contacts__link mobil__links"
          ><svg class="contacts__svg" width="20px" height="20px">
            <use href="./images/svg/svg-sprite.svg#icon-phone"></use>
          </svg>
          <p>063 422 42 69</p>
        </a>
      </li>
      <li class="contacts__item">
        <a href="#" target="_blank" class="contacts__link mobil__links"
          ><svg class="contacts__svg" width="20px" height="20px">
            <use href="./images/svg/svg-sprite.svg#icon-telegram"></use>
          </svg>
          <p>Telegram</p>
        </a>
      </li>
      <li class="contacts__item">
        <a
          href="https://www.instagram.com/lash_laboratoria/"
          target="_blank"
          class="contacts__link mobil__links"
          ><svg class="contacts__svg" width="20px" height="20px">
            <use href="./images/svg/svg-sprite.svg#icon-instagram"></use>
          </svg>
          <p>Instagram</p>
        </a>
      </li>
    </ul>
  </div>
</div>
