<section class="section prices" id="prices">
  <div class="container prices__container">
    <div class="beforetitle-wrapper">
      <svg width="20px" height="20px">
        <use href="./images/svg/svg-sprite.svg#icon-eye3"></use>
      </svg>
      <p class="beforetitle prices__beforetitle">
        Записуйся на красу вже зараз
      </p>
    </div>
    <h2 class="title title--white">Послуги та ціни</h2>
    <ul class="prices__list aftertitle prices__aftertitle">
      <li class="prices__item">
        <p class="prices__service">Класика</p>
        <p class="prices__price">350 грн.</p>
      </li>
      <li class="prices__item">
        <p class="prices__service">2D</p>
        <p class="prices__price">400 грн.</p>
      </li>
      <li class="prices__item">
        <p class="prices__service">3D</p>
        <p class="prices__price">450 грн.</p>
      </li>
      <li class="prices__item">
        <p class="prices__service">4-5D</p>
        <p class="prices__price">500 грн.</p>
      </li>
      <li class="prices__item">
        <p class="prices__service">Вигини M,L</p>
        <p class="prices__price">+50 грн.</p>
      </li>
      <li class="prices__item">
        <p class="prices__service">"Мокрий" ефект</p>
        <p class="prices__price">без доплати</p>
      </li>
      <li class="prices__item">
        <p class="prices__service">"Промені"</p>
        <p class="prices__price">без доплати</p>
      </li>
    </ul>
    <button class="main-btn main-btn--white" type="button" data-modal-open>
      Онлайн-запис
    </button>
  </div>
</section>
