<div class="toast toast__success js-menu-close">
  <button class="toast__btn toast__success-close" type="button">
    <svg width="20px" height="20px">
      <use href="./images/svg/svg-sprite.svg#icon-close"></use>
    </svg>
  </button>

  <p>Ваша заявка надіслана успішно</p>
</div>

<div class="toast toast__error js-menu-close">
  <button class="toast__btn toast__error-close" type="button">
    <svg width="20px" height="20px">
      <use href="./images/svg/svg-sprite.svg#icon-close"></use>
    </svg>
  </button>

  <p>
    Сталась помилка. Спробуйте пізніше або
    <a href="tel:+380634224269" class="toast__tel">зателефонуйте</a>.
  </p>
</div>
