.about {
}
.container {
}
.about__container {
  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}
.about__wrpr {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__images {
  display: none;
}
.about__text {
  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.beforetitle-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  fill: var(--pretitle-color-dark);
}
.about__beforetitle {
  color: var(--pretitle-color-dark);
}
.about__title {
}
.about__aftertitle {
  color: var(--pretitle-color-dark);
}
@media screen and (min-width: 768px) {
  .about__container {
  }
  .about__card {
    display: flex;
    gap: 28px;
  }
  .about__image {
    width: 320px;
  }
  .about__images {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .about__wrpr {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1000px) {
  .about__images {
    flex-direction: row;
  }
  .about__image {
    width: 280px;
  }
}
