.contacts {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/mobil-footer-min.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center center;
}

.contacts__container {
  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}
.contacts__list {
  & > :not(:last-child) {
    margin-bottom: 14px;
  }
}

.contacts__link {
  color: var(--pretitle-color-light);
  fill: var(--pretitle-color-light);
  display: inline-flex;
  gap: 20px;
  align-items: center;
  transition: fill 300ms ease-out, color 300ms ease-out;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--title-white);
  }
}
.contacts__svg {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .contacts {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(../images/tablet-footer-min.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center center;
  }
}
@media screen and (min-width: 1000px) {
  .contacts {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(../images/desktop-footer-min.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center center;
  }
}
