.header {
  position: absolute;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.header__logo {
}
.header__logo:hover {
  -webkit-animation: rotate-in-center 0.4s linear;
  animation: rotate-in-center 0.4s linear;
}
.logo__img {
}
.mobil-btn {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  fill: var(--title-white);
}
.header__wrapper {
  display: none;
}
.header__nav {
}
.nav {
}
.nav__list {
}
.nav__item {
}
.nav__link {
}
.header__contacts {
}
.header__phone {
}
.main-btn {
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 32px 32px 0;
  }
  .mobil-btn {
    display: none;
  }
  .header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--title-white);
  }
  .header__nav {
    flex-grow: 1;
  }
  .nav__list {
    display: flex;
    gap: 20px;

    justify-content: center;
  }
  .header__btn {
    color: var(--title-white);
  }
  .nav__link {
    padding: 8px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    transition: color 300ms ease-out;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
@media screen and (min-width: 1000px) {
  .nav__link {
    font-size: 14px;
  }
  .nav__list {
    gap: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .nav__link {
    font-size: 16px;
  }
}
