.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/mobil-hero-min-webp.webp);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center center;
}
.hero__container {
  padding-top: 210px;
  padding-bottom: 180px;
}
.hero__container > *:not(:last-child) {
  margin-bottom: 20px;
}
.beforetitle.hero__beforetitle {
  font-size: 18px;
  color: var(--pretitle-color-light);
}
.title.hero__title {
  color: var(--title-white);
  font-size: 42px;
}
.hero__aftertitle {
  color: var(--pretitle-color-light);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}
.hero__socials {
  display: none;
}
@media screen and (max-width: 320px) {
  .hero__container {
    padding-top: 160px;
    padding-bottom: 100px;
  }
  .title.hero__title {
    font-size: 36px;
  }
  .beforetitle.hero__beforetitle {
    font-size: 14px;
  }
  .hero__aftertitle {
    font-size: 14px;
  }
}
@media screen and (min-width: 360px) {
  .hero__title {
    font-size: 48px;
  }
  .hero__beforetitle {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/ttablet-hero-min-webp.webp);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center center;
  }
  .hero__container {
    padding: 240px 32px 32px 123px;
  }
  .hero__socials {
    margin-top: 220px;
    display: flex;
    gap: 40px;

    &:first-child {
      margin-left: -10px;
    }
  }
  .hero__link {
    display: block;
    padding: 10px;
    margin-left: -10px;
    fill: var(--pretitle-color-light);
    transition: fill 300ms ease-out;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}
@media screen and (min-width: 1000px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/desktop-hero-min-webp.webp);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center center;
  }
  .hero__container {
    padding: 240px 40px 40px 202px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    padding: 240px 40px 40px 95px;
  }
  .beforetitle.hero__beforetitle {
    font-size: 20px;
  }
  .title.hero__title {
    font-size: 48px;
  }
  .hero__aftertitle {
    font-size: 20px;
  }
}
