.master {
}

.master__container {
  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}

.master__card {
  background-color: rgba(244, 244, 244, 0.6);
  padding: 20px;
}
.master__description {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}
.master__photo {
  width: 100%;
  max-width: 480px;
  display: block;
  filter: saturate(0) brightness(1.1) contrast(1.1);

  transition: filter 600ms ease-out;

  &:hover {
    filter: saturate(0.8);
  }
}
.master__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.master__socials {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.master__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--title-white);
  fill: var(--accent-color);
  transition: background-color 300ms ease-out;
  &:hover,
  &:focus {
    background-color: rgba(255, 78, 214, 0.4);
  }
  &:hover > .master__svg,
  &:focus > .master__svg {
    fill: var(--title-white);
  }
}

.master__svg {
  transition: fill 300ms ease-out;
}
.master__beforetitle {
  color: var(--pretitle-color-dark);
}
.master__aftertitle {
  color: var(--pretitle-color-dark);
}
@media screen and (min-width: 768px) {
  .master__card {
    max-width: 440px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  .master__card {
    margin: 0;
    max-width: 100%;
    display: flex;
  }
  .master__photo {
    max-width: 400px;
  }
  .master__description {
    padding: 0 28px;
    justify-content: space-between;
  }
  .master__socials {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }
}
