.toast {
  font-size: 14px;
  position: absolute;
  z-index: 11;
  top: 20px;
  right: 0;
  width: 360px;
  padding: 40px 20px 30px;
  line-height: 1.6;
  text-align: center;
  transition: transform 300ms ease-out;
  color: var(--title-black);
}
.toast__success {
  background-color: rgb(255, 152, 231);
}
.toast__error {
  background-color: rgb(255, 152, 231);
}
.toast__btn {
  border: none;
  background-color: transparent;
}
.toast__success-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 12;
}
.toast__error-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 12;
}
.toast__tel {
  color: var(--title-black);
  text-decoration: underline;
}
@media screen and (max-width: 767.7px) {
  .toast {
    top: 0px;
    width: 100%;
  }
}
